fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2-binary  # optional for PostgreSQL
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic-settings
slowapi
cloudinary
opencv-python
torch
torchvision
supervision>=0.22.0
alembic
addict
yapf
timm
